body{
  background-color: rgb(51, 48, 48);
  margin: 0; /* Remove margem padrão */
  padding: 0; /* Remove padding padrão */
  width: 100vw; /* Ocupa 100% da largura da tela */
  min-height: 100vh; /* Ocupa no mínimo 100% da altura da tela */
}
.menu-container {
  display: flex; /* Organiza os itens horizontalmente */
  gap: 100px; /* Espaço entre os itens */
  justify-content: center;
  padding: 20px;
  background-color: #27173f;
  color: gold;
  top: 0%;
}

.menu-item {
  display: flex;
  align-items: center;
  overflow: hidden; /* Esconde o texto extra inicialmente */
  width: 60px; /* Largura inicial (apenas o ícone visível) */
  height: 60px;
  background-color: #131212;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: width 0.5s ease; /* Adiciona transição suave para a largura */
  cursor: pointer;
  padding: 0 15px;
  right: 20px;
  top: 20px;
}
h4 {
    top: 20px;
    left: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.menu-item:hover {
  width: 200px;
  overflow: hidden; /* Esconde o texto extra inicialmente */
  width: 60px; /* Largura inicial (apenas o ícone visível) */
}

.card-content {
  /* Garante que o ícone mantenha sua posição */
  min-width: 30px; 
}

.icon {
  font-size: 24px;
  display: block;
}
.carousel-container {
    overflow: hidden;
    width: 100%;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    gap: 20px;
    animation: scroll 25s linear infinite;
}

.card {
    width: 250px;
    background: rgb(51, 48, 48);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    flex-shrink: 0;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        color: #fff;

    }

    .menu-container {
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        height: 15%;
        background-color: transparent;
        
    }

    /* esconde o menu inicialmente */
    .menu-container .menu-item {
        display: none;
    }

    /* quando abrir */
    .menu-container.active .menu-item {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        border-top: 1px solid rgba(255,255,255,0.1);
    }

    /* logo sempre visível */
    .menu-container .menu-item:first-child {
        display: flex;
    }
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
